@using QUIZ_1.Models

@{
    Layout = "ForBlog";
}


<h1 class="title">@Model.Title</h1>
<img class="center" src="@Url.Content(Model.Image)" width="300" height="400" />
<h1 class="content">@Model.Content</h1>
<div class="button">@Model.Button</div>




